.monthPrev, .monthNext {
    height: 2rem;
    width: 2rem;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
    background-color: var(--chakra-colors-white);
    border-radius: 50%;
}

.monthPrev svg, .monthNext svg {
    height: 2rem;
    width: 2rem;
    background-image: url('/svg/datepicker/datepicker-change-month.svg');
    background-repeat: no-repeat;
}

.monthPrev svg {
    transform: rotate(180deg);
}

.monthPrev:disabled svg, .monthNext:disabled svg {
    opacity: 0.2;
}

.monthSelect {
    margin-left: auto;
}

.yearSelect {
    margin-right: auto;
}

.datepickerWeek {
    font-family: Gilroy, sans-serif !important;
    color: var(--chakra-colors-black);
}

.datepickerWrapper {
    border: none !important;
    font-family: Gilroy, sans-serif !important;
}

.datepickerWrapper *, .datepickerWrapper * {
    font-family: Gilroy, sans-serif !important;
}

.yearSelect, .monthSelect {
    font-family: Gilroy, sans-serif;
    border: none !important;
    border-radius: 0.5rem;
    padding: 0 1.2rem 0 0.7rem;
    font-weight: 700;
    font-size: 0.9rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: var(--chakra-colors-white);
    background-image: url('/svg/datepicker/datepicker-dropdown.svg');
    background-size: 0.4rem;
    background-repeat: no-repeat;
    background-position: right 0.8rem top 0.95rem;
}

.datepickerDay {
    border-radius: 0.3rem !important;
    border: 1px solid transparent !important;
    font-family: Gilroy, sans-serif !important;
}

.datepickerDay:hover {
    border: 1px solid var(--chakra-colors-brand-secondary) !important;
}

.datepickerDay[aria-disabled='false'] {
    background-color: var(--chakra-colors-white) !important;
    font-weight: 400;
}

.datepickerDay[aria-selected='true'] {
    background-color: var(--chakra-colors-brand-secondary) !important;
    color: var(--chakra-colors-white);
    font-weight: 700;
}

.calendarToggle {
    cursor: pointer;
    z-index: 9;
    background-image: url('/svg/datepicker/datepicker-calendar.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.calendar div:first-child {
    border-bottom: none;
}

.calendar {
    overflow: hidden;
}

.calendar div {
    background-color: var(--chakra-colors-neutral-light);
}

.disabledOK {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    opacity: 0.5;
}

.dateInput svg {
    visibility: hidden;
}